<launch>
    <arg name="dataset" doc="prefix for the dataset (e.g. train1)"/>
    <param name="config_path" type="str" value="$(find rosbag_sync_data_rerecorder)/config/alphatruck.yaml" />
    <param name="rosbag_path" type="str" value="/robodata/ut_alphatruck_logs/visualIKD/$(arg dataset).bag" />
    <param name="out_path" type="str" value="/robodata/kvsikand/visualIKD/$(arg dataset)_data/" />
    <node name="rosbag_data_recorder" pkg="rosbag_sync_data_rerecorder" type="rosbag_data_recorder.py" output="screen" />
</launch>