<launch>
    <param name="config_path" type="str" value="$(find rosbag_sync_data_rerecorder)/config/alphatruck.yaml" />
<!--    <param name="rosbag_path" type="str" value="$(find rosbag_sync_data_rerecorder)/data/2021-11-16-10-28-31.bag" />-->
    <param name="rosbag_path" type="str" value="/robodata/ut_alphatruck_logs/visualIKD/train4.bag" />
    <param name="out_path" type="str" value="/robodata/kvsikand/visualIKD/train4_data/" />
<!--    <param name="rosbag_path" type="str" value="$(find rosbag_sync_data_rerecorder)/data/2021-11-18-18-09-34.bag" />-->

    <node name="rosbag_data_recorder" pkg="rosbag_sync_data_rerecorder" type="rosbag_data_recorder.py" output="screen" />
</launch>